body {
    overflow-x: hidden;
}

nav {
    z-index: 10;
}

.btn-outline {
    transition: all .5s;
    color: inherit;
    background-color: transparent;
}

.btn-outline.btn-success {
    color: #5cb85c;
}

.btn-outline.btn-danger {
    margin-left: 5px;
    color: #d9534f;
}

.btn-outline.btn-success:hover,
.btn-outline.btn-danger:hover {
    color: #fff;
}

input.edit {
    width: 50%;
}

div.br {
    height: 10vh;
}

select.edit {
    width: 50%;
}

h2 {
    line-height: .1em;
    display: block;
    width: 100%;
    margin: 10px 0 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    background: white;
}

h2 span {
    padding: 0 10px;
    background: #fff;
}

a {
    color: #00b7ff;
}

ul {
    padding: 0;
    padding-top: 20px;
}

ul li {
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    list-style-type: none;
    background: black;
}

ul li span {
    font-family: Arial;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

ul li button .editOrder {
    padding: 5px;
}

ul li label {
    font-family: Arial;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 10px;
    text-transform: uppercase;
    color: #743c58;
}

ul li .edit {
    display: none;
}

ul li.edit .edit {
    display: initial;
}

ul li.edit .noedit {
    display: none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #f00;
}

#navHeader {
    color: #858585;
}

.image-header {
    position: absolute;
    background-image: url('../images/coffee.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-size: cover;
    -webkit-filter: contrast(90%) brightness(90%) saturate(2);
    -moz-filter: contrast(90%) brightness(90%) saturate(2);
    -o-filter: contrast(90%) brightness(90%) saturate(2);
    -ms-filter: contrast(90%) brightness(90%) saturate(2);
    filter: contrast(90%) brightness(80%) saturate(2);
}

.image-header {
    position: absolute;
    display: block;
    width: 120%;
}

#image-header {
    position: relative;
    top: 9.8%;
    width: 84%;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    filter: brightness(200%);
}

#container {
    position: absolute;
    top: 109%;
    display: block;
    width: 100%;
    height: 91%;
    margin: 0 auto;
    color: black;
}

.row-form {
    margin-top: 15px;
}

form {
    margin-top: 18px;
}

.add-submit {
    margin-top: 15px;
}

.coffee-order {
    overflow: hidden;
}

.coffee-ordered {
    overflow: auto;
}

.orange-circle-button {
    font-size: 1em;
    line-height: 1.1em;
    position: relative;
    right: 35px;
    width: 4em;
    height: 4em;
    margin: auto;
    color: #fff;
    border: .5em solid #e84d0e;
    border-radius: 50%;
    background-color: #e84d0e;
    box-shadow: 2px 4px 0 2px rgba(0, 0, 0, .1);
}

.orange-circle-button:hover {
    text-decoration: none;
    color: #fff;
    border-width: 2px;
    border-color: #ff7536;
    background-color: #e84d0e;
}

.orange-circle-button:visited {
    text-decoration: none;
    color: #fff;
    background-color: black;
}

.orange-circle-link-greater-than {
    font-size: 1em;
}

.container {
    width: 100%;
    margin-top: 10px;
    margin-left: 16%;
    color: #fff;
}

.fa-github-alt {
    color: #4099ff;
}

.fa-facebook {
    color: #3b5998;
}

.fa-google {
    color: #e52d27;
}

.fa-twitter {
    color: #f60;
}

.fa-linkedin {
    color: #6441a5;
}

.fa {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: .7;
}

.fa:hover {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 1;
}
